@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: rgb(18, 24, 37);
}

body {
    background-color: rgb(18, 24, 37);
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@supports (-webkit-backdrop-filter: blur(30px) saturate(160%) contrast(45%) brightness(140%)) or
  (backdrop-filter: blur(30px) saturate(160%) contrast(45%) brightness(140%)) {
    .nav-container, .nav-container *{
        z-index: 2;
        margin: 0;
        padding: 0;
        background-color: rgba(104, 143, 167, 0.3);
        text-decoration: none;
        color: black;
        font-family: "Roboto", sans-serif;
        position: sticky;
        backdrop-filter: blur(20px) saturate(120%) contrast(20%) brightness(150%);
        -webkit-backdrop-filter: blur(20px) saturate(120%) contrast(20%) brightness(150%);
    }
}

.nav-btns {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-btns li {
    position: relative;
    padding: 1.3rem;
    transition: filter 0.5s ease-in-out;
    height: 100%;
    font-weight: bold;
}

.nav-sm {
    display: none;
}

.nav-btns li:not(#logo)::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0.4rem;
    background-color: rgb(24, 34, 54);
    transition: width 0.25s ease-in-out;
}

.nav-btns li:hover:not(#logo) {
    background-color: rgba(54, 69, 78, 0.2);
    filter: brightness(0.9);
    cursor: pointer;
}

.nav-btns li:hover:not(#logo)::before {
    width: 100%;
}

.categories-btn {
    position: relative;
}

@supports (-webkit-backdrop-filter: blur(30px) saturate(160%) contrast(45%) brightness(140%)) or
  (backdrop-filter: blur(30px) saturate(160%) contrast(45%) brightness(140%)) {
    .categories-drp {
        display: none;
        padding: 0;
        margin: 0;
        background-color: rgba(104, 143, 167, 0.3);
        z-index: 1;
    }
  }

.categories-drp li {
    padding: 1.3rem;
    transition: filter 0.5s ease-in-out;
    background-color: rgba(104, 143, 167, 0.1);
    list-style-type: none;
}

.categories-drp li::before {
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0.4rem;
    background-color: rgb(24, 34, 54);
    transition: width 0.25s ease-in-out;
}

.categories-drp li:hover {
    background-color: rgba(77, 97, 109, 0.2);
    filter: brightness(0.9);
}

.categories-drp li:hover::before {
    width: 100%;
}

.welcome::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: url('../img/products.png');
    background-size: cover;
    background-position: center;
    filter: blur(5px);
}

.welcome-text {
    position: relative;
    z-index: 1;
    color: white;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 35vh;
    padding: 5vh;
}

.logo {
    position: relative;
    bottom: 44vh;
    left: 78%;
    z-index: 1;
    filter: blur(0.6px);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------Button----------*/
.button-49,
.button-49:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:hover{
    cursor: pointer;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}